* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
}

.color-picker-deselected {
    border-style: none;
    height: calc(2em - 6px);
    margin: 3px;
    padding: 0;
    width: calc(2em - 6px);
}

.color-picker-selected {
    border-style: solid;
    border-width: 3px;
    height: 2em;
    padding: 0;
    width: 2em;
}

.h-fraction {
    display: grid;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.table {
    border-collapse: collapse;
}

.v-stack {
    display: flex;
    flex-direction: column;
}
