* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
}

.color-picker-deselected {
    border-style: none;
    height: calc(1.5em - 4px);
    margin: 2px;
    padding: 0;
    width: calc(1.5em - 4px);
}

.color-picker-selected {
    border-style: solid;
    border-width: 2px;
    height: 1.5em;
    padding: 0;
    width: 1.5em;
}

.h-fraction {
    display: grid;
}

.table {
    border-collapse: collapse;
}

.v-stack {
    display: flex;
    flex-direction: column;
}
