* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
}

.h-fraction {
    display: grid;
}

.table {
    border-collapse: collapse;
}

.v-stack {
    display: flex;
    flex-direction: column;
}
