@import url('https://fonts.cdnfonts.com/css/figtree');

:root {
    --cell-border: black 1px solid;
}

* {
    font-family: 'Figtree';
}

.color-picker {
    margin-top: 4px;
}

.color-picker-button {
    border-color: white;
    border-radius: 6px;
}

.contact-form {
    background: #222;
    color: white;
}

.contacts {
    background: #222;
    color: white;
}

.field-group {
    padding: 5px;
}

.header {
    align-items: center;
    background: green;
    color: white;
    height: 5vh;
    justify-content: center;
    overflow: auto;
}

.submit-button {
    display: flex;
}

.table-cells {
    border-bottom: var(--cell-border);
    border-top: var(--cell-border);
    padding: 3px;
}

.table-labels {
    border-bottom: var(--cell-border);
    border-top: var(--cell-border);
    padding: 3px;
    text-align: left;
}

.text-field {
    background: #252525;
    border-bottom: white 1px solid;
    border-left: none;
    border-radius: 6px;
    border-right: none;
    border-top: none;
    color: white;
    font-size: 1em;
    margin-top: 4px;
    padding: 4px;
    resize: none;
}
